*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo img{
    width: 17%;
    /* border: 3px solid white;
    border-radius: 50px; */
}
.navbar{
    background-color: #000;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navlist{
    width: 70%;
    display: flex;
    align-items: center;
}
.navlist li{
    list-style: none;
    padding: 14px 20px;
}

.navlist li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navlist li a:after{
    content: "";
    position: absolute;
    background-color: #e7a63e;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navlist li a:hover:after{
    width: 100%;
    /* background-color: gray; */
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.bgColor{
    transition: all 1.3s;
    color: #000;
    background-color: black;
    box-shadow: 0 0 10px 3px rgb(103, 97, 97);
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.firstSection{
    height: 100vh;
}
.box-main{
    background-color: #000;
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.autoType{
    color: #e7a63e;
}
.firstHalf{
    width: 50%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box-main img{
    max-width: 30%;
}
.firstHalf img{
    width: 300px;
}
.textBig{
    font-size: 25px;
}
.textSmall{
    font-size: 40px;
}
.btn{
    padding: 9px 31px;
    margin: 12px 4px;
    border: 2px solid grey;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn-sm{
    padding: 4px 10px;
    vertical-align: middle;
}
.btnSubmit{
    color: black;
    border: 2px solid grey;
}
.btn:hover {
    background-color: #c48d35;
    color: #000;
    box-shadow: 0 0 5px gray;
}
.skills{
    background: url(../img/skillsBG.jpg);
    background-size: cover;
    /* background-blend-mode: hard-light; */
    /* background-position: center; */
}
.section{
    /* height: 450px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu';
    padding: 34px;
}
.parSubPara{
    padding: 0 35px;
}
.secLeft{
    flex-direction: row-reverse;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.sectionTag{
    padding: 12px 0;
    font-size: 30px;
}
.section img{
    width: 280px;
    border-radius: 13px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px black;
}
/* .contact{
    background-color: white;
    height: 90vh;
}
.textCenter{
    text-align: center;
    padding: 15px;
    padding-top: 25px;
    font-family: 'Ubuntu';
    font-size: 30px;
}
.form{
    max-width: 60%;
    margin: 25px auto;
}
.formInput{
    width: 100%;
    margin: 12px 0;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
.myFooter{
    background: #000;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    text-align: center;
    justify-content: center;
}
.leftPart-1{
    color: #c48d35;
}
.textFooter{
    width: 33%;
    font-family: 'Ubuntu';
    color: white;
}
.textFooter .icons .rightPart i{
    border: 2px solid gray;
    border-radius: 50px;
    padding: 5px 5px;
    margin: 0 3px;
    cursor: pointer;
    transition: 0.2s;
}
.textFooter .icons .rightPart i:hover{
    box-shadow: 0 0 10px 3px #e7a63e;
}


.social{
    width: 100%;
    background: whitesmoke;
    background-size: cover;
    padding-bottom: 50px;
}
.social h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 35px 0;
    font-size: 30px
}
.container{
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    /* border: 1px solid black; */
}
.social-items{
    flex-basis: 25%;
    margin: 10px 0;
    text-align: center;
    padding: 20px 0;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 8px 3px grey;
    transition: 0.4s;
}
.social-items:hover{
    box-shadow: 0 0 13px 5px grey;
}
.social-items img{
    width: 25%;
}
.social-items h3{
    padding: 10px 0;
    font-family: 'Ubuntu';
}
.social-items p{
    font-size: 14px;
    padding: 20px 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btnSocial{
    padding: 9px 31px;
    margin: 10px 0px;
    border: 0px solid grey;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: none;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 8px;
    transition: 0.3s;
}
.btnSocial:hover{
    background-color: #dadee6;
}
.contact{
    position: inherit;
    min-height: 50vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(..//img/skillsBG.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-family: 'Ubuntu';
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}
.contact .content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}
.contactContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.contactContainer .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contactContainer .contactInfo .box{
    position: inherit;
    padding: 15px 11px;
    display: flex;
}
.contactContainer .contactInfo .box .icons{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    box-shadow: 0 0 5px 2px gray;
}
.contactContainer .contactInfo .box .text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
}
.contactContainer .contactInfo .box .text h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 10px 3px gray;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contactForm .inputBox{
    position: inherit;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox input[type="Submit"]{
    width: 100px;
    background: rgb(238, 232, 232);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    border: 1px solid black;
    /* box-shadow: 0 0 5px 3px gray; */
    border-radius: 50px;
    transition: 0.3s;
}
.contactForm .inputBox input[type="Submit"]:hover{
    background: #c8ccd1;
}

@media only screen and (max-width: 886px) {
    .logo{
        width: 50%;
    }
    .navlist{
        flex-direction: column;
        margin: 50px 0;
    }
    .navlist li{
        padding: 11px 0px;
    }
    .navbar{
        flex-direction: column;
        height: 332px;
        transition: all 0.6s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .burger{
        display: block;
        background-color: #000;
    }
    .bgColor{
        transition: all 1.3s;
        background-color: black;
        color: #000;
        box-shadow: 0 0 10px 5px #333;
    }
    .hNav-resp{
        height: 70px;
    }
    .v-class-resp{
        opacity: 0;
        color: #000;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .box-main img{
        max-width: 70%;
    }
    .firstHalf{
        width: 80%;
        padding: 0;
    }
    .secondHalf img{
        width: 50vh;
    }
    .section{
        flex-direction: column-reverse;
    }
    .sectionSubTag{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        text-align: center;
    }
    .sectionTag{
        padding: 22px 0;
        font-size: 22px;
        text-align: center;
    }
    .textSmall{
        font-size: 27px;
        text-align: center;
    }
    .textBig{
        font-size: 23px;
        text-align: center; 
    }
    .buttons{
        text-align: center;
    }
    .parSubPara{
        padding: 0;
        font-size: 30px;
    }
    .contact{
        padding: 50px;
    }
    .contactContainer{
        flex-direction: column;
    }
    .contactContainer .contactInfo{
        width: 100%;
        margin-bottom: 40px;
    }
    .contactContainer .contactInfo, .contactForm{
        width: 100%;
    }
    .myFooter{
        flex-direction: column;
        align-items: center;
    }
    .myFooter .textFooter{
        width: 100%;
        padding: 10px;
    }

}

@media only screen and (max-width: 972px){
    .container{
        width: 50%;
        flex-direction: column;
    }
    .social-items{
        margin: 22px -92px;
    }
    
} 
    

